.Pokemon {
    border: 2px solid yellowgreen;
    border-radius: 20px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 600px;
    display: flex;
}

.Info {
    margin: 0px 10px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}