html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 376px) and (max-width: 420px) {
    h1 {
        font-size: 25px;
    }
    body {
        margin: 0 10px;
    }
}

@media screen and (min-width: 421px) and (max-width: 1000px) {
    body {
        font-size: 20px;
        margin: 20px;
    }
}

@media screen and (min-width: 1001px) {
    body {
        font-size: 30px;
        margin: 30px;
    }
} 